@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}


.main{
    background-image: url(../Images/image.jpg);
    width: auto;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    height: 170vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.navbar{
    width: 100%;
    height: 44px;
    background-color: rgba(251, 251, 251, 1.0);

    /*The Part below is used to keep the nav bar fixed and not shrink*/
    margin-right: auto;    
    margin-left: auto;    
    max-width: 100%;      
    min-width: 1000px;
    position: fixed;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: rgb(3, 75, 80);
    font-size: 35px;
    font-family: Arial;
    padding-left: 0px;
    padding-top: 2px;
    float: left;

}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
.navilist {
    float: left;
    position: relative;
  }
  
.navilist a {
    display: flex;
    color: rgb(0, 58, 46);
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
  }

.righty{
    font-family: 'Oswald', sans-serif;
    /* text-align: right; */
    padding: 10px 30px;
    color: rgb(164, 240, 225);
    float: right;
    background: rgb(6, 103, 103);
}

.righty a{
    display: flex;
    color: rgb(164, 240, 225);
    text-align: center;
    padding: 0px 8px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.righty:hover{
    background-color: rgb(3, 34, 107);

}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(3, 107, 104);
  }

.content{
    width: 320px;
    height: 420px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding-top: 90px;
}

.form{
    width: 250px;
    height: 350px;
    background: linear-gradient(to top, rgba(0, 90, 88, 0.8),rgba(0,0,0,0.81));
    position: absolute;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}



.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    background-color: rgb(4, 82, 74);
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

.btn{
    width: 240px;
    height: 40px;
    background:  rgb(149, 219, 198);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(252, 252, 252);
    transition: 0.4s ease;
}
.btn:hover{
    background: #01d293;
}
.btn a{
    text-decoration: none;
    color: rgb(0, 94, 59);
    font-weight: bold;
}

.container{
    padding-top: 70px;
}


.f2{
    background: linear-gradient(to bottom, rgba(0, 90, 88, 0.8),rgba(0,0,0,0.81));
    border-radius: 10px;
    padding: 25px;
}

.f2{
    padding-top: 30px;
    margin-block-start: auto;
    text-align: center;
    align-items: center;
}

/* .f2 input{
    display: block;
    justify-content: center;
    width: 350px;
    height: 40px;
    margin: 20px;
} */

.f2 input{
    width: 420px;
    height: 35px;
    display: block;
    background: transparent;
    border-bottom: 2px solid #ffffff;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

::placeholder{
    color: azure;
}

.f2 h2{
    width: 400px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    background-color: rgb(10, 141, 127);
    border-radius: 5px;
    margin: 2px;
    padding: 8px;
}

.f2 input:focus{
    outline: none;
}

.error{
    background: #04ffb4;
    color: #bb1900;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

/* FOR SIDE BAR IN ADMIN PAGE */
body{
    background-color: rgba(152, 235, 210, 0.4);
}
.main2{
    width: 100%;
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 170vh;
    display: flex;
    flex-direction: column;
    align-items:center;
}

 .uti {

    list-style: none;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: rgb(0, 86, 147);
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 1px solid rgba(11, 3, 50, 0.1) ;
    border-bottom: 1px solid black;

}

.sidebar{

    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #b6dbe6;
    transition: all .5s ease;

}

.sidebar header{

    font-size: 22px;
    color: #efe6e5;
    text-align: center;
    line-height: 70px;
    background: #003c5c;
    user-select: none;
    transition: .8s;

}

.uti:hover {

    padding-left: 50px;
    background-color: aliceblue;

}

.sidebar ul a{
    font-size:15px
}

.sidebar ul a i{

    margin-right: 20px;

}

#check{

    display: none;

}

label #checker, label #canceler{

    position: absolute;
    cursor: pointer;
    background: #089185;
    border-radius: 4px;

}

label #checker{

    left: 40px;
    top: 25px;
    font-size: 30px;
    color: #a7dacc;
    padding: 6px 12px;
    margin-top: 25px;
    transition: all .5s ease;
    position: fixed;

}

label #canceler{

    z-index: 1111;
    left: -195px;
    top: 3px;
    font-size: 10px;
    color: #fdfdfd;
    padding: 4px 9px;
    background: #bb1900;
    transition: all 0.5s ease;
    margin-left: 30px;
    position: fixed;
}

#check:checked ~ .sidebar{

    left: 0;

}

#check:checked ~ label #checker{

    left: 250px;
    opacity: 0;
    pointer-events: none;

}

#check:checked ~ label #canceler{

    left: 195px;

}

.welcome{

    margin-left: 180px;
    margin-top: 80px;
    padding-top: 60px;
    
}


.welcome h1{

    color: steelblue;
    font-family: 'Oswald', sans-serif;
    
}

/* FOR ADMIN_TABLE  */

.tablecontainer{

    margin-top: 40px;
}

.table1, th, td {
  border: 2px solid;
  text-align: center;
  height: 30px;
  border-color: #089185;
}

.table1 {
    width: 900px;
    margin-left: 250px;
    border-collapse: collapse;
  }

.tablecontainer h3 {

    margin-left: 250px;
    color: #024c46;
}


.btn1 {

    background-color:  #2c9e7c;
    color: rgb(219, 224, 226);
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
    font-weight: bolder;
    
}

.btn1:hover{
    background-color:rgb(7, 97, 83);
}

.btn1 a{

    text-decoration: none;
    color: #ffffff;
}

#updateform1{

    margin-top: 80px;
}

#welcomenai{

    margin-top: 55px;
}

.noticemesenpai{

    color: #bb1900;
}

.forminfoupdate {

    
    margin-top: 80px;
    align-items: baseline;
    margin-right: 260px;

}

.forminfoupdate ::placeholder{
    color: rgb(0, 95, 95);
}

.forminfoupdate input{

    width: 420px;
    height: 35px;
    display: block;
    background: transparent;
    border-bottom: 2px solid #004912;
    border-top: none;
    border-right: none;
    border-left: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: sans-serif;
} 

.forminfoupdate input:focus{
    outline: none;
}

.forminfoupdate h3 {
    color: #023934;
    background-color: #efe6e5;
}

#remove{
    background-color: #bb1900;
    color: white;
    width: min-content;
}



